* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

html,
body {
  height: 100%;
}

.terminal-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.terminal-history {
  flex: 1;
  overflow-y: auto;
}

.terminal-input {
  display: flex;
}

textarea {
  height: 120px;
  width: 100%;
  resize: none;
  border: 3px solid rgb(0, 255, 0);
  background-color: black;
  color: rgb(0, 255, 0);
  font-family: monospace;
  font-size: 15px;
  line-height: 1.3;
  padding: 8px;
  outline: none;
}

textarea::-webkit-scrollbar {
  width: 8px;
}

textarea::-webkit-scrollbar-track {
  background-color: #1e1e1e;
  border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
  cursor: grab;
}

textarea::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

textarea::selection {
  background-color: #555;
}